= simple_form_for @message do |f|
  %h3
    Вы можете отправить мне сообщение:
  \#{f.input :name, :label => 'Имя:', input_html: { size: 25}, :class => "text"}
  \#{f.input :location, :label => 'Город, страна:',input_html: {  size: 25}, :class => "text"}
  \#{f.input :email, :label => 'E-mail:', input_html: {size: 20}, :class => "text"}
  \#{f.input :body, :label => 'Ваше Сообщение:', input_html: { :cols => 30, rows: 15}, :class => "text"}
  \#{f.button :submit, 'Отправить'}
  %p
    Все поля обязательны для заполнения