= simple_form_for @disk do |f|
  \#{f.input :title, label: 'Название диска'}
  \#{f.input :body, label: 'Описание'}
  \#{f.input :year, label: 'Год'}
  \#{f.input :album_cover, label: 'Обложка диска'}
  \#{f.button :submit, 'Добавить'}