<%= div_for song do %>
<span>
  <%= song.id %>
</span>
  <span>
    <%= link_to song.title, song_path(song) %>
  </span>
  <span>
    <%= song.authors %>
  </span>
  <span>
    <%= song.record_year %>
  </span>
<% end %>