%h1
  ССЫЛКИ на интересные ресурсы в Интеренете:
#three-links
  %p
    =link_to 'http://g-kareva.ru/' do
      = image_tag 'http://g-kareva.ru/kareva.jpg', :alt => "g-kareva.ru"
    \- Карева Галина Алексеевна - известная вокалистка советского периода
  %p
    =link_to 'http://www.romansy.ru/' do
      = image_tag 'http://www.korneeva.com/jpg/logo.gif', :alt => "g-kareva.ru"
    \- Наиболее полная афиша романсовых концертов и информация о исполнителях
  %p
    =link_to 'http://www.vyalceva.ru/' do
      = image_tag 'http://www.korneeva.com/links/ADV.jpg', :alt => "g-kareva.ru"
    \- Сайт посвящён творчеству великой русской певицы Анастасии Дмитриевны Вяльцевой
.weaves.three-weaves
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
%h2 Памяти Анатолия Титова
#links-titov-text
  %p В июле 2008 г. ушел из жизни замечательный человек, истинный рыцарь русского романса #{link_to 'Анатолий Григорьевич Титов', 'http://ru.wikipedia.org/wiki/%D0%A2%D0%B8%D1%82%D0%BE%D0%B2,_%D0%90%D0%BD%D0%B0%D1%82%D0%BE%D0%BB%D0%B8%D0%B9_%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D1%8C%D0%B5%D0%B2%D0%B8%D1%87'} .
  Всю свою жизнь Анатолий Григорьевич посвятил делу сохранения и возрождения старинного русского романса. Человек открытого сердца и большой щедрой души, он объединял вокруг себя множество исполнителей и поклонников этого жанра.

  %p Исполнение Титовым романсов особенное, глубокое, и в то же время мягкое и чарующее. Кроме того, его "конёк" - неизвестные и малоисполняемые романсы, что ещё более интересно для ценителей этого жанра.
  Поэтому, когда я узнала, что Анатолий Титов записал 124 романса, то сразу предложила ему выложить эти записи в Интернете. Он согласился, и теперь все мы имеем возможность услышать и по достоинству оценить замечательное творчество А.Г. Титова.

  %p Вслушайтесь в этот удивительный голос...
#links-titov
  #links-titov-photo
    = image_tag 'http://www.korneeva.com/links/titov.jpeg', :alt => 'photo'
  %h3
    = link_to "Анатолий Титов. Воспоминание о романсе", 'http://www.korneeva.com/titov.html'

  = link_to '124 романса в формате МР3',  'http://www.korneeva.com/titov.html'
