<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Hellow</h1>

<%= link_to 'Вход на сайт', songs_path %>
advert_path
<!-- to anons
announcement

advertisement

notice

ad

adt

adv
 -->

 <%= link_to 'new message', new_message_path %>
 <%= link_to 'new feedback', new_feedback_path %>
 <%= link_to 'new disk', new_disk_path %>
 <%= link_to 'new song', new_song_path %>