<h1>"Рецензии", Reviews</h1>
<div style='margin: 0 auto; width: 650px;'>
<%= link_to 'http://www.korneeva.com/jpg/dvorb.jpg' do %>
  <%= image_tag 'http://www.korneeva.com/jpg/dvors.jpg', alt: 'Рецензия Международного союза дворян.' %>
<% end %>
<%= link_to 'http://www.korneeva.com/jpg/rtvb.jpg' do %>
  <%= image_tag 'http://www.korneeva.com/jpg/rtvs.jpg', alt: 'Рецензия Телерадиовещательной компании РТВ-Подмосковье.' %>
<% end %>
<%= link_to 'http://www.korneeva.com/jpg/kspb.jpg' do %>
  <%= image_tag 'http://www.korneeva.com/jpg/ksps.jpg', alt: 'Рецензия Городского центра авторской песни (КСП).' %>
<% end %>
<%= link_to 'http://www.korneeva.com/jpg/litvb.jpg' do %>
  <%= image_tag 'http://www.korneeva.com/jpg/litva.jpg', alt: 'Литовский КУРЬЕР. №48. ноябрь 2007г.' %>
<% end %> <br>
<%= link_to 'http://www.lgz.ru/article/5713/' do %>
  <%= image_tag 'http://www.korneeva.com/jpg/LGZa.jpg', alt: 'Литературная газета. №36(6188) Сентябрь 2008 г.'%>
<% end %>
<%= link_to 'http://www.korneeva.com/jpg/ChKGb.jpg' do %>
  <%= image_tag 'http://www.korneeva.com/jpg/ChKGa.jpg', alt: 'Журнал департамента культуры г.Москвы. Июнь(58)/2008.' %>
<% end %>
</div>

