%h1
  Заметки на полях
.weaves.two-weaves
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
%h2
  Дорогие друзья!
%p
  Мне очень нужны единомышленники (как в Москве, так и в других городах), которые могли могли бы заняться организацией концертов и гастролей. Практически невозможно совместить творчество и менеджмент, поэтому совершенно необходим директор / администратор / импрессарио / менеджер - выбирайте любое название, сути это не меняет. Откликнитесь, мне очень нужна ваша помощь! Думаю, это будет взаимовыгодное сотрудничество и приятное интересное общение.
.sign-name
  %p
    Искренне ваша
    %br/
    Маргарита Корнеева
.weaves.two-weaves
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
%h2 Интересное

%p Дорогие друзья! Меня очень радует, что Вы не только слушаете романсы, но и интересуетесь их историей. Ниже я привожу выдержку из моей переписки с пианистом А.Златковским. Я думаю, что вопрос, заданный Александром, будет интересен многим поклонникам жанра романса, а может быть, и послужит темой для обсуждения. Пишите, я всегда рада общению.

%p Маргарита! Я с большим интересом посмотрел Ваш вебсайт. Особенно заинтересовало меня упоминание о цикле "Под цыганской звездой". Дело в том, что я пианист (когда-то российский, последние десять лет живу на Аляске), и сейчас готовлю программу цыганской музыки - из произведений венгерских, испанских и русских цыган (по большей части это мои собственные аранжировки этих пьес). Не могли бы Вы подсказать мне, какие именно романсы - цыганские? И что позволяет считать их цыганскими - ведь обычно авторы и слов, и музыки не цыгане (скажем, в таких романсах, как "Очи Черные", "Дорогой Длинною", "Эй, ямщик, гони-ка к Яру", и так далее). Так что это - просто традиция? Или они стали цыганскими потому, что лучше всех их исполняли цыгане? Или в силу особенно драматических музыки и слов?

.sign-name
  %p
    Заранее благодарю, Александр Златковский

%p Здравствуйте, Александр! Постараюсь ответить на Ваши вопросы, основываясь на тех сведениях, которые я узнала за 20 лет своего "романа с романсом". Подчеркиваю, что это мои личные выводы.

%p Начну с того, что , с моей точки зрения, цыганского романса как такового не существует. Есть народные и не народные, т.е. авторские, цыганские песни, исполняемые на цыганском языке, как то "Невечерняя", "Шадрица", "Саре патря" и т.д. Но также есть огромное количество русских песен и романсов, взятых цыганами в репертуар, переработанных и спетых в особой цыганской манере. Процесс начался давно, но продолжается и сейчас . Хотя я очень люблю хорошее (!) цыганское пение, но порой диву даюсь, до чего искажается и текст, и музыка романса! Мой любимый ансамбль "Джелем" так поет известнейший романс Ю.Хайта и А.Д`Актиля "Не надо встреч", что узнала его лишь со второго куплета :-) Но вернемся к истории вопроса.

%p Примерно с 70-х годов 19 века все большую популярность стали приобретать цыганские хоры, выступавшие, в основном, в ресторанах и в летних увеселительных заведениях. Они пели и свои цыганские песни, и русские в своей обработке. Публике очень нравилось, цыган приезжал слушать весь бомонд. В конце-концов в театре Корша была осуществлена постановка спектакля-мозаики "Цыганские песни в лицах". Это был набор музыкальных номеров, в основном романсов, объединенных незамысловатым сценарием. Спектакль продержался много лет, обновляясь каждый сезон по содержанию и составу исполнителей. Там начинала Вяльцева, пел Александр Давыдов и многие другие звезды, сначала оппереты, а позже, когда романс оформился как отдельный эстрадный жанр, и звезды романса. Именно романса, хотя в названии речь шла о цыганских песнях. И в старых нотах начала 20-го века все время встречаешь "Талантливая исполнительница цыганских романсов", "Новейшие цыганские романсы" и т.д., хотя речь везде идет о известных нам или не очень известных русских романсах.

%p Я пришла к выводу, что все романсы, которые мы сейчас называем старинными русскими, бытовыми, городскими, салонными и т.п. в начале 20 века называли цыганскими, равно как и их исполнителей. Варя Панина действительно была цыганкой, но ведь исполнительницами цыганских романсов считались и Анастасия Вяльцева, и Нина Дулькевич, например. Хотя ни они сами, ни их манера исполнения, с современной точки зрения, к цыганам никакого отношения не имела. Думаю имелось ввиду, что цыганское - это все то, что не академическое в смысле исполнения и написания. Ведь параллельно существовали романсы, написанные классическими композиторами - Чайковским, Глинкой, Рахманиновым, Даргомыжским и т.д.

%p Среди цыган, конечно, были и свои сочинители романсов, например М.Шишкин, Н.Титов. Известны своими сочинениями и обработками Я.Пригожий и С.Гердаль. Их романсы с удовольствием пели как цыгане, так и не цыгане, конечно, на русском языке. Ну позже, уже в 30-х годах, когда начались гонения на романс, под названиями "старинный русский" или "цыганский романс" часто маскировались произведения современных авторов, дабы избежать неприятностей :-)

%p Конечно, мы привыкли считать, что "Очи черные" - цыганский романс. А почему? Он, скорее, о цыганах. Вернее, о черных очах. Но ведь они могут быть любой национальности :-) Очень любил исполнять этот романс Фёдор Шаляпин. Считал ли он его цыганским? Не знаю... Мне кажется, что в современном сознании цыганский романс - это романс, содержание которого как-то ассоциируется с цыганами ( это может быть любая ассоциация - по тексту или связанная с использованием этого романса в фильме или спектакле) плюс особая манера исполнения, как правило либо с неким надрывом, либо, наоборот, бесшабашная, "цыганистая". Ну и конечно, так часто используемый мотив "цыганочки", а вернее - цыганской венгерки - точный признак :-))

%p Не знаю, помогла я Вам чем-то или только запутала. На эту тему можно говорить долго, я постаралась покороче:-) Что же касается Вашей новой программы, Вы ведь наверняка ориентируетесь на народную музыку. У цыган она потрясающая, песни берут за душу, если даже не понимаешь, о чем. Такова сила этих волшебных мелодий и гармоний! Творческих удач Вам! Я рада нашему общению, пишите!

.sign-name
  %p
    С уважением, Маргарита Корнеева
.weaves.two-weaves
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
%h2 Концерты

%p Дорогие поклонники! Отвечаю всем, кто спрашивает меня:
%h3
  "Когда мы Вас увидим в своем городе?"

%p Все в ваших руках. Я сама себе и директор, и администратор, и филармония. Если у вас есть реальные предложения по организации концертов - связывайтесь со мной, обсудим. Без ложной скромности скажу, что концерты всегда проходят с большим успехом. И я, и ЧЮДО будем рады встретиться с вами!
.weaves.three-weaves
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
  = image_tag 'http://www.korneeva.com/img/line.png', :alt => "image"
