%h2
  Введите Ваше сообщение
= simple_form_for @feedback do |f|
  = f.input :name, input_html: { :size => '25'},  :label => 'Имя:'
  = f.input :location, input_html: { :size => '25'}, :label => 'Город, страна:'
  = f.input :body, input_html: { :rows => '5', :cols => '35'}, :label => 'Ваше сообщение:'
  = f.input :check_code, :label => 'Какой сейчас год?'
  = f.button :submit, 'Отправить'
