%h1 Гостевая книга
#guestbook-photo
  = image_tag 'http://www.korneeva.com/photos/41.jpg',    |
    alt: "Маргарита Корнеева - исполинительница романсов" |
#feedback-form
  = render 'form'
#feedback-form-desc
  %p
    Все поля обязательны для заполнения
  %p
    В связи с участившимися случаями рассылки СПАМА все записи в гостевой книги предварительно просматриваются администратором сайта.
.weaves
  = image_tag 'http://www.korneeva.com/img/line.png'
  = image_tag 'http://www.korneeva.com/img/line.png'
  = image_tag 'http://www.korneeva.com/img/line.png'
  = image_tag 'http://www.korneeva.com/img/line.png'
#feedback-text
  %p
    Дорогие друзья!
  %p
    Благодарю вас всех за теплые и искренние слова, присланные в мой адрес! Ваши сообщения поддерживают меня и дают силы для новых творческих свершений!
  %p
    Мне хочется, чтобы одно из сообщений стало постоянным эпиграфом к гостевой книге сайта. Его автор - Наталья Красковская, г. Москва - очень проникновенно и точно выразила суть того, чем я занимаюсь. Спасибо Вам, Наталья!
  %p
    "Здравствуйте, Маргарита! Спасибо за высокий стиль и безупречный вкус исполнения моих любимых романсов! Ваш голос и гитарный аккомпанемент звучат даже не из прошлого, а из вечного. Потому что так они и должны звучать. Именно этого я искала многие годы, безрезультатно покупая (а потом выбрасывая) в магазинах диски с любимыми названиями и изображениями Очень именитых исполнителей. Спасибо за то, что я наконец-то могу слушать то, что мне хочется, не морщась и не ожидая чего-то "не отсюда". Спасибо, что романс льется прямо в душу, почти минуя слух. Спасибо, что хочется петь вместе с Вами. Спасибо, что Вы так бережны с произведениями, которых касаетесь!"
    Спасибо Вам.
  %p
    Дорогие мои! Давайте любить русский романс вместе! Пишите, я всегда жду ваших сообщений!
  %p
    Искренне ваша,
    Маргарита Корнеева
.weaves
  = image_tag 'http://www.korneeva.com/img/line.png'
  = image_tag 'http://www.korneeva.com/img/line.png'
  = image_tag 'http://www.korneeva.com/img/line.png'
  = image_tag 'http://www.korneeva.com/img/line.png'
- if @feedbacks.present?
  %h2 Оставленные сообщения
  #feedbacks
    = render @feedbacks
- else
  %p Пока нет ни одного сообщения
