!!! 5
%html
  %head
    %title
      Романс уходящего века. Маргарита Корнеева. #{page_title}.
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Романс уходящего века
      .weaves
        = image_tag 'http://www.korneeva.com/img/line.png'
        = image_tag 'http://www.korneeva.com/img/line.png'
        = image_tag 'http://www.korneeva.com/img/line.png'
        = image_tag 'http://www.korneeva.com/img/line.png'
        = image_tag 'http://www.korneeva.com/img/line.png'
    #main
      %aside
        %nav
          %ul
            %li= link_to 'На главную', root_path
            %li= link_to 'Анонс', static_path("announcement")
            %li= link_to 'О себе', static_path("about_myself")
            %li= link_to 'Афиша', static_path("billboard")
            %li= link_to 'Репертуар', songs_path
            %li= link_to 'Дискография', disks_path
            %li= link_to 'Фотографии', static_path("photos")
            %li= link_to 'Видеозаписи', static_path("video_records")
            %li= link_to 'Рецензии', static_path("reviews")
            %li= link_to 'Заметки на полях', static_path("side_notes")
            %li= link_to 'Гостевая книга', feedbacks_path
            %li= link_to 'Контакты', contacts_path
            %li= link_to 'Ссылки', static_path("links")
      %section#content
        = content_tag :p, notice, :class => 'notice' if notice.present?
        = content_tag :p, alert, :class => 'alert' if alert.present?
        = yield
    %footer
      = link_to 'Вверх'