<!DOCTYPE html>
<html>
<head>
  <title>Романс уходящего века. Маргарита Корнеева. <%= page_title %>.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Романс уходящего века</h1>
  <div id="user_nav">
    <% if current_user %>
      Logged in as <%= current_user.email %>
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "Log in", log_in_path %>
    <% end %>
  </div>
  <div class='weaves'>
    <%= image_tag 'http://www.korneeva.com/img/line.png' %>
    <%= image_tag 'http://www.korneeva.com/img/line.png' %>
    <%= image_tag 'http://www.korneeva.com/img/line.png' %>
    <%= image_tag 'http://www.korneeva.com/img/line.png' %>
    <%= image_tag 'http://www.korneeva.com/img/line.png' %>
  </div>
</header>
<div id='main'>
  <aside>
    <nav class='custom-font'>
      <ul>
        <li><%= link_to 'На главную', root_path %></li>
        <li><%= link_to 'Анонс', page_path("announcement") %></li>
        <li><%= link_to 'О себе', page_path("about_myself") %></li>
        <li><%= link_to 'Афиша', page_path("billboard") %></li>
        <li><%= link_to 'Репертуар', songs_path %></li>
        <li><%= link_to 'Дискография', disks_path %></li>
        <li><%= link_to 'Фотографии', page_path("photos") %></li>
        <li><%= link_to 'Видеозаписи', page_path("video_records") %></li>
        <li><%= link_to 'Рецензии', page_path("reviews") %></li>
        <li><%= link_to 'Заметки на полях', page_path("side_notes") %></li>
        <li><%= link_to 'Гостевая книга', feedbacks_path %></li>
        <li><%= link_to 'Контакты', contacts_path %></li>
        <li><%= link_to 'Ссылки', page_path("links") %></li>
      </ul>
    </nav>
  </aside>
  <section id='content'>
    <%= yield %>
  </section>
</div>
<footer>
  <%= link_to 'Вверх'  %>
</footer>
</body>
</html>
