!!!
%html
  %head
    %title Romans
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div
      HEADER Романс уходящего века
      #user_nav
        - if current_user
          Logged in as #{current_user.email}
          \#{link_to "Log out", log_out_path}
        - else
          = link_to "Sign up", sign_up_path
          or
          \#{link_to "Log in", log_in_path}
    %div
      %span
        %ul
          %li= link_to 'На главную', root_path
          %li= link_to 'Анонс', page_path("announcement")
          %li= link_to 'О себе', page_path("about_myself")
          %li= link_to 'Афиша', page_path("billboard")
          %li= link_to 'Репертуар', songs_path
          %li= link_to 'Дискография', disks_path
          %li= link_to 'Фотографии', page_path("photos")
          %li= link_to 'Видеозаписи', page_path("video_records")
          %li= link_to 'Рецензии', page_path("reviews")
          %li= link_to 'Заметки на полях', page_path("side_notes")
          %li= link_to 'Гостевая книга', feedbacks_path
          %li= link_to 'Контакты', contacts_path
          %li= link_to 'Ссылки', page_path("links")
      %span
        = yield
    %div
      FOOTER -  #{link_to 'Вверх'}